{{define "education"}}
    <div class="box">
        <h4 class="title is-4"><a target="_blank" rel="noreferrer noopener" href="{{.Link}}">{{.Title}}</a></h4>
        {{range .Paragraphs}}
            <p>{{.}}</p>
        {{end}}
        <ul>{{range .CTAs}}
                <p><a target="_blank" rel="noreferrer noopener" href="{{.URL}}">
                            {{.Text}}
                        </a></p>
            {{end}}</ul>
    </div>
{{end}}

