{{define "footer"}}
    </main>
    </footer>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>Cpustejovsky {{currentYear}} | <a href="https://twitter.com/cpustejovsky">Twitter</a> | <a href="https://github.com/cpustejovsky">GitHub</a></p>
        </div>
    </footer>
    </body>
    </html>
{{end}}
