{{define "header"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Charles Pustejovsky | Go Developer</title>
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
        <meta charSet="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel=stylesheet href="/static/styles.min.css"/>
        <meta name="description"
              content="Golang developer passionate about TDD, SQL, gRPC/protobuf, Distributed Systems, Kafka, etc."
              lang="en"/>
        <link href="/static/jetbrainsmono" rel="stylesheet">
    </head>
    <body>
    <nav class="navbar is-max-desktop" role="navigation" aria-label="main navigation">
        <div class="navbar-menu is-active">
            <a class="navbar-item" href="/"><h1>Cpustejovsky 👍</h1></a>
            <div style="display: flex">
                <a class="navbar-item" href="/about">About</a>
                <a class="navbar-item" href="/education">Continuing Education</a>
                <a class="navbar-item" href="/resources">Resources</a>
            </div>
        </div>
    </nav>
    <main class="container is-max-desktop">
{{end}}